@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Nunito:wght@200;400&family=PT+Sans&display=swap');

:root {
    --font-titulos: 'Montserrat';
    --font-secundaria: 'Nunito';

    --color:  #2C3437;
    --color1: #F3E8EE;
    --color2: #A5C4CF;
    --color3: #687B82;
    --color4: #72878F;
    --color5: #546369;

}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-secundaria);
}

/* --> HEADER <--  */

.header {
    background: var(--color);
    position: sticky;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto; 
    display: block;
    
}
.header-box {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    max-width: 100%;
    height: auto; 
}
.header-container {
    text-align: center;
}
.header-title {
    color: var(--color1);
    font-family: var(--font-titulos);
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.2em;
    padding-left: 1em;
    text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.479);
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1em;
}
.menu-icon {
    position: relative;
    cursor: pointer;
    height: 25px;
}
.nav-icon {
    background-color: var(--color1);
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
    
}
/* icone de tres linhas do botão menu */
.nav-icon::after, .nav-icon::before{
    content: "";
    background-color: var(--color1);
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: .6s;
}
.nav-icon::after {
transform: translateY(8px) ;
}
.nav-icon::before {
transform: translateY(-8px) ;
}
.menu-btn:checked ~ .header-menu {
max-height: 100vh;
}
/* icone em x  do botão menu */
.menu-btn:checked+.menu-icon .nav-icon{
background-color: transparent;
}
.menu-btn:checked+.menu-icon .nav-icon::after{
transform: rotate(45deg);
}
.menu-btn:checked+.menu-icon .nav-icon::before{
transform: rotate(-45deg);
}

/* abrir janela menu quando utiliza tab */
.header-menu:focus-within{
    max-height: 100vh;

}
.header-menu {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    background-color: var(--color);
}
.nav-container li {
    list-style: none;
    padding: 0.3em;
}
.nav-container a{
    color: var(--color1);
    text-decoration: none;
    display: block;
    padding: .3em ;
}
.nav-container li a:hover { 
    background-color: var(--color4);
    text-transform: uppercase;
    border-radius: 5px;
}
.nav-container li a:focus {
    background-color: var(--color4);
    text-transform: uppercase;
}
.section-img {
    background-color: var(--color);
    text-align: center;
    
}
.section-img img {
    border-radius: 50%;
    max-width: 25em;
}

/* --> RESPONSIVE MENU <--  */
@media screen and (min-width:59.37em){
    .header{
        position: sticky;
        top: 0;
        left: 0;
    }
    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu {
        position: static;
        max-height: initial;
    }
    .menu-btn, .menu-icon {
        display: none;
    }
    .nav-container ul {
        display: flex;
        gap: 0.6em;
    }
    .nav-container li a:hover { 
        background-color: var(--color4);
        text-transform: none;
    }
    .nav-container li a:focus {
        background-color: var(--color4);
        text-transform: none;
    }
}

/* --> SECTION ABOUT ME <--  */
.section-about {
    background-color: var(--color);
    color: var(--color1);
}
.section-img img {
    max-width: 100%;
    height: auto; 
    display: block;
}
.section-about-container {
    width: 80%;
    margin: auto;
}
.section-about-container p {
    padding: 0.8em 0;
    text-indent: .6em;
}
.ola {
    font-size: 1.8em;
}

/* --> RESPONSIVE ABOUT ME <--  */

@media screen and (min-width:59.37em) {
  .section-about {
    display: flex;
    gap: 1em;
  } 
  .section-img img {
    border-radius: 20px;
    padding: 1em ;
    transition-duration: 1s;
  }
  .section-about-container p {
    margin: 0 1em;
  }
}