@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Nunito:wght@200;400&family=PT+Sans&display=swap');

:root {
    --font-titulos: 'Montserrat';
    --font-secundaria: 'Nunito';

    --color:  #2c3437;
    --color1: #D4D3CF;
    --color2: #a5c4cf;
    --color3: #687B82;
    --color4: #72878f;
    --color5: #546369;
   

}
html {
    
    overflow-x: hidden; 
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: var(--font-secundaria);
}

/* --> HEADER <--  */

.header {
    background: var(--color);
    position: sticky;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto; 
    display: block;
    z-index: 1;
    
}
.header-box {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    max-width: 100%;
    height: auto; 
    
}
.header-container {
    text-align: center;
}


.nav-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1em;
}
.menu-icon {
    position: relative;
    cursor: pointer;
    height: 25px;
}
.nav-icon {
    background-color: var(--color1);
    display: inline-block;
    height: 2px;
    width: 24px;
    position: relative;
    
}
/* icone de tres linhas do botão menu */
.nav-icon::after, .nav-icon::before{
    content: "";
    background-color: var(--color1);
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: .6s;
}
.nav-icon::after {
transform: translateY(8px) ;
}
.nav-icon::before {
transform: translateY(-8px) ;
}
.menu-btn:checked ~ .header-menu {
max-height: 100vh;
}
/* icone em x  do botão menu */
.menu-btn:checked+.menu-icon .nav-icon{
background-color: transparent;
}
.menu-btn:checked+.menu-icon .nav-icon::after{
transform: rotate(45deg);
}
.menu-btn:checked+.menu-icon .nav-icon::before{
transform: rotate(-45deg);
}

/* abrir janela menu quando utiliza tab */
.header-menu:focus-within{
    max-height: 100vh;

}
.header-menu {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    background-color: var(--color);
}
.nav-container li {
    list-style: none;
    padding: 0.3em;
}
.nav-container a{
    color: var(--color1);
    text-decoration: none;
    display: block;
    padding: .3em ;
}
.nav-container li a:hover { 
    background-color: var(--color4);
    text-transform: uppercase;
    border-radius: 5px;
}
.nav-container li a:focus {
    background-color: var(--color4);
    text-transform: uppercase;
}
.section-img {
    background-color: var(--color);
    text-align: center;
    
}
.section-img img {
    border-radius: 50%;
    width: 100%;
}

/* --> RESPONSIVE MENU <--  */
@media screen and (min-width:59.37em){
    .header{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .header-menu {
        position: static;
        max-height: initial;
    }
    .menu-btn, .menu-icon {
        display: none;
    }
    .nav-container ul {
        display: flex;
        gap: 0.6em;
    }
    .nav-container li a:hover { 
        background-color: var(--color4);
        text-transform: none;
    }
    .nav-container li a:focus {
        background-color: var(--color4);
        text-transform: none;
    }
}
/* --> SECTION HOME <--  */
.sectionHome {
    display: flex;
    background-color: var(--color6);
    margin: auto;
    width: 50%;
    align-items: center;
    height: 35em;
    justify-content: space-between;
    padding-top: 8.5em;
}
.sectionHome_img img {
    width: 25em;
    height: auto;
    opacity: 0.45;
}
.sectionHome_title {
    color: var(--color);
    font-family: var(--font-titulos);
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.2em;
    text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.379);
    white-space: nowrap;
}
.sectionHome_title span {
    font-weight:bold;
}

@media screen and (max-width:59.37em) {
    .sectionHome {
        display: block;
        padding-top: 4.1em;
        width: 80%;
    }
    .sectionHome_img img {
        width: 22em;
        height: auto;
        opacity: 0.45;
    }
    
}

@media screen and (max-width:40em){
    .sectionHome {
        display: inline;
        vertical-align: bottom;
        /* padding-top: 5.5em; */
        margin-left: 1em;
    }
    .sectionHome_img img {
        width: 20em;
        height: auto;
        opacity: 0.45;
    }
   
}
@media screen and (max-width:20.31em){
    .sectionHome {
        display: inline;
        vertical-align: bottom;
        margin-left: 1em;
        
    }
    .sectionHome_title{
        width: 100%;
        white-space: pre-line;
    }
    .sectionHome_img img {
        width: 100%;
        height: auto;
        opacity: 0.45;
    }
   
}


/* --> SECTION ABOUT ME <--  */
.section-about {
    background-color: var(--color);
    color: var(--color1);
    padding-bottom: 5em ;
    padding-top: 5em;
}
.section-img img {
    max-width: 100%;
    height: auto; 
    display: block;
}
.section-about-container {
    width: 80%;
    margin: auto;
}
.section-about-container p {
    padding: 0.8em 0;
    text-indent: .6em;
}

.about-doc img {
    width: 1.5em;
    color: var(--color1);
}
.about-doc {
    text-align: center;
    margin-top: 2em;
}
.about-doc-link {
    text-decoration: none;
    color: var(--color1);
}

/* --> RESPONSIVE ABOUT ME <--  */

@media screen and (min-width:59.37em) {
  .section-about {
    display: flex;
    gap: 1em;
  } 
  .section-img img {
    border-radius: 20px;
    padding: 1em ;
    transition-duration: 1s;
  }
  .section-about-container p {
    margin: 0 1em;
  }
}

/* --> SECTION PROJETOS <--  */
.sectionProjetos {
    padding-top: 8em;
    margin-bottom: 5em;    
}
.titleProjetos {
    text-align: center;
    padding: 1em 0;
    font-family: var(--font-titulos);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.379);
}
.row {
    justify-content: center;     
    margin-bottom: 5em;   
    width: 100%;
}
.card {
    width: 15em;
    margin: 2em 1em ;
    justify-content: center;
}
.card:hover {
    background-color: var(--color4);
    color: var(--color1);
}
.card:hover h3 {
    color: var(--color1);
}
.card:hover p {
    color: var(--color1);
}
.card a {
    text-decoration: none;
}
.card a h3 {
    color: var(--color);
}
.card a p {
    color: var(--color5);
}
.card img {
    margin-top: 1em;
}
/* ------------------------ */

/* --> SECTION HABILIDADES <--  */
.hab-item-title {
    text-align: center;
    padding-top: 2em;
}
.hab-title{
    color: var(--color2);
    font-family: var(--font-titulos);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.379);
}
.section-hab {
    background-color: #2C3437;
    padding: 5em 0;
    
}
.section-hab-items {
    text-align: center;
    
}
.section-hab-items img {
    height: 6em;
    padding: 1em;
}
.section-hab-items span {
    color: var(--color2);
    display: none;
}
.section-hab-items div.active span {
    display: block; 
}


@media screen and (min-width:49em) {
    .section-hab-items{
        display:flex;
        justify-content: space-evenly;
        padding: 5em 0;
    }
}

/* --> SECTION CONTATO<--  */
#contato {
    overflow-x: hidden; 
    padding: 5em 0;
}
.contato-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5em 0;
}
.dados-contato {
    font-family: var(--font-titulos);
    color: var(--color3);
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.8em;
}
.input-box {
    position: relative;
    width: 15.62em;
}
.input-box input {
    width: 100%;
    padding: .62em;
    border: 1px solid rgba(114, 135, 143, 0.25);
    border-radius: 5px;
    outline: none;
    color: var(--color4);
    font-size: 1em;
    transition: 0.5s;
}
.input-box span {
    position: absolute;
    left: 0;
    padding: 0.62em;
    pointer-events: none;
    font-size: 1em;
    color: var(--color4);
    text-transform: uppercase;
    transition: 0.5s;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: var(--color1);
    transform: translateX(0.625em) translateY(-0.60em);
    font-size: 0.60em;
    padding: 0 0.60em;
    background: var(--color);
    border-left: 1px solid var(--color4);
    border-right: 1px solid var(--color4);
    letter-spacing: 0.2em;
}
.input-box input:valid ,
.input-box input:focus {
    border: 1px solid rgb(44, 52, 55);
}
.input-box textarea {
    border: 1px solid rgba(114, 135, 143, 0.25);
    border-radius: 5px;
    outline: none;
    color: var(--color4);
    font-size: 1em;
    transition: 0.5s;
    
}
.input-box textarea:valid ,
.input-box textarea:focus {
    border: 1px solid rgb(44, 52, 55); 
    
}
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span {
    color: var(--color1);
    transform: translateX(0.625em) translateY(-0.4375em);
    font-size: 0.65em;
    padding: 0 0.62em;
    background: var(--color);
    border-left: 1px solid var(--color4);
    border-right: 1px solid var(--color4);
    letter-spacing: 0.2em;
}

.dados-contato img {
    height: 3em;
}
.btn button{
    background-color: var(--color);
    color: var(--color1);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-transform: uppercase;
}
.btn button:hover, 
.btn button:focus {
    background-color: var(--color3);
    font-weight: bolder;
}

@media screen and (max-width:49em) {
    .contato-container {
        display: block;
    }
    .dados-contato {
        text-align: center;
        margin-bottom: 4em;
    }
}

/* --> FOOTER <--  */

footer {
    font-family: var(--font-titulos);
    background-color: var(--color);
    letter-spacing: 0.2em;
    
}
.footer-item {
    text-align: center;
    color: var(--color1);
    padding: 2em;
}
.creditos {
    padding-top: 1em;
    
}
.creditos ul {
    display: flex;
    gap: 2em;
    justify-content: center;
}
.creditos li {
    list-style: none;
    padding: 0.5em ;
    border-radius: 5px;
}
.creditos a {
    text-decoration: none;
    color: var(--color1);
}
.creditos a:hover,
.creditos a:focus {
    color: var(--color4);
}


@media screen and (max-width:49em) {
    .creditos ul {
        display: block;
        gap: 2em;
        text-align: center;
    }
}